*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1{
     color: rgb(11, 179, 11);
      text-align: center;
       margin: 20px;
}
nav li a {
    /* background-color: lime; */
    text-decoration: none;
    
     
     font-size: larger;
     font-weight: 500;
     
}
nav li 
{
    
list-style-type: none;
    padding: 20px;
    transition: 0.3s ease;

}
nav{
    background-color: lime;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

}
li:hover{
    background-color: green;
    color: white;
}
li a:hover{
    color: white;
}
.image-row
 { 
   display:flex;
   flex-direction: row;
   padding-top: 1%;
   
      
 }
 img{
height: 400px;
width: 500px;
padding: 2%;
opacity: 0.5;
transition: 0.3s ease;
cursor: pointer;

 }
 img:hover{
     transform: scale(1.04);
     opacity: 1;
 }
 h5{
     text-align: center;
      font-size: large;
       font-weight: 800;
       margin-bottom: 10px;
 }
 button{
    display: block;
     background-color: green;
      margin: 0 auto ;
      color: white;
      border-radius: 5px;
      font-size: large;
      padding: 5px 30px;
      border: none;
      
      cursor: pointer;
      transition: 0.3s ease;
 }
 button:hover{
    transform: scale(1.04);
 }
